:root {
    --bg: black;
    --text: rgba(236, 223, 172, 0.7);
    --border: rgba(236, 223, 172, 0.7);
    --button-bg: black;
    --button-color: rgba(236, 223, 172, 0.7);
    --button-border: rgba(236, 223, 172, 0.7);
    --button-hover-bg: white;
    --button-hover-color: black;
}

@font-face {
    font-family: "Cormorant Semibold";
    src: url("./CormorantInfant-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "Cormorant Semibold Italic";
    src: url("./Cormorant-SemiBoldItalic.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

html,
body {
    min-height: 100%;
}

body {
    background: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Cormorant Semibold", serif;
}

div {
    margin: 0;
    padding: 0;
}

button {
    padding: 5px 9px;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
}
button:focus,
button:active {
    outline: 0;
    border: none;
}

#status {
    display: none;
    height: 0;
    margin-top: 0;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}

#input,
#output {
    box-sizing: border-box;
    border: 1px dashed var(--border);
    outline: 1px solid var(--border);
    border-radius: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#input {
    display: inline;
}

#output {
    width: 100vh;
    height: 100vh;
    position: relative;
    mix-blend-mode: lighten;
    padding: 0;
    overflow: hidden;
    z-index: 4;
    opacity: 0.8;
    background-color: black;
    filter: contrast(100%) brightness(100%) grayscale(0%);
}

#output canvas {
    display: block !important;
    visibility: visible !important;
    width: 100vh !important;
    height: 100vh !important;
    margin-top: 0;
}

#defaultCanvas0 {
    margin-top: 0;
    opacity: 0.8;
}

#template,
#template-wings {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vh;
    height: 100vh;
    pointer-events: none;
    filter: contrast(100%);
    opacity: 0.7;
}
#template-wings.fadeOut {
    opacity: 0.4;
    animation: fadeOut 1s forwards;
}
#close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
#light-box{
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border: 1px solid var(--text);
    padding: 30px;
    padding-top: 60px;
    max-width: 25%;
    display: none;
}
#light-box img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
#light-box-content p{
    text-align: left;
    line-height: 1.3;
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
    
}
@keyframes fadeIn {
    to {
        opacity: 0.4;
    }
    
}
#template {
    z-index: 2;
    mix-blend-mode: normal;
}

#template-wings {
    z-index: 1;
    mix-blend-mode: plus-lighter;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
#instructions {
    position: fixed;
    top: 60px;
    width: 20%;
    right: 0;
    padding: 20px;
    font-size: 24px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    font-family: var(--font-family);
    z-index: 3;
    text-align: left;
    color:var(--text);
}
#clearBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: var(--button-bg);
    color: var(--button-color);
    border: 1px dotted var(--button-border);
    text-transform: uppercase;
    font-family: "Cormorant Semibold", serif;
    cursor: pointer;
    z-index: 3;
}
#clearBtn:hover {
    background: var(--button-hover-bg);
    color: var(--button-hover-color);
    border: 1px solid black;
}

#randomBtn,
#transferBtn {
    display: none;
}

#colors div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px 12px;
    display: inline-block;
}

#red {
    background: rgb(255, 0, 0);
}
#blue {
    background: rgb(0, 0, 255);
}
#white {
    background: white;
    border: 1px solid rgb(236, 236, 236);
}

@media (max-width: 768px) {
    #app {
        flex-direction: column;
    }

    #clearBtn {
        left: 10px;
        right: auto;
    }

    #output {
        margin-left: 0;
        margin-top: -1px;
    }

    #output,
    #output canvas,
    #template,
    #defaultCanvas0,
    #input,
    #template-wings {
        width: 100vw !important;
        height: 100vw !important;
    }
}


#downloadBtn {
    position: fixed;
    bottom: 10px;
    left: 100px;
    background: var(--button-bg);
    color: var(--button-color);
    border: 1px dotted var(--button-border);
    text-transform: uppercase;
    font-family: "Cormorant Semibold", serif;
    cursor: pointer;
    z-index: 3;
}